@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  @apply antialiased text-black bg-white;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

::selection {
  @apply bg-black text-white;
}
